*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 200vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.logo{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 15px;
    top: 5px;
}

i{
    background-image: url();
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem{
    background-color: #526E91;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #ffff;
}

header i{
    font-size: 75px;
    color: #ffff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #ffff;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(BANNER\ NUTRICORE.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}